body {
    position: relative;
    width: 1440px;
}
header {
    width: 100%;
}
.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    gap: 208px;
    background-color: white;

    position: absolute;
    width: 1440px;
    height: 88px;
    left: 0px;
    top: 0px;
}
.div-logo-mb {
    display: none;
}
.div-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 310px;

    width: 775px;
    height: 48px;
}
#logo {
    width: 48px;
    height: 48px;
    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
#vector {
    display: none;
}
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;

    width: 417px;
    height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.main-nav li {
    display: flex;
    flex-direction: row;
}
#product {
    width: 70px;
    height: 24px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
#cases {
    width: 78px;
    height: 24px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;

    flex: none;
    order: 1;
    flex-grow: 0;
}
#resources {
    width: 77px;
    height: 24px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    flex: none;
    order: 2;
    flex-grow: 0; 
}
#company {
    width: 72px;
    height: 24px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    
    flex: none;
    order: 3;
    flex-grow: 0;
}
.nav-logo button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;
background-color: #F62369;
border: 3px solid black;
border-radius: 6px;

width: 157px;
height: 42px;

flex: none;
order: 1;
flex-grow: 0;
}
.nav-logo button a {
    text-decoration: none;
    width: 117px;
    height: 22px;

    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: white;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 733px;
    height: 302px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    
    position: absolute;
    width: 683px;
    height: 390px;
    left: 120px;
    top: 188px;
}
.frame-8 h1 {

    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: black;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame-8 p {
    width: 590px;
    height: 52px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
/* Button get app now */
.frame-6 button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 30px;
    gap: 8px;
    width: 160px;
    height: 56px;
    background: #F62369;
    border: 3px solid #1D1D1D;
    border-radius: 8px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame-6 button a {
    width: 100px;
    height: 24px;

    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.group-9 img {
    position: absolute;
    width: 533.55px;
    height: 593px;
    left: 803.92px;
    top: 104px;
    margin: 0 0 0 50px;
}
.group-40013 {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 1201px;
    left: 119px;
    top: 697px;
    
    background: #FFFFFF;
    border: 4px solid #000000;
    box-shadow: 8px 8px 0px #000000;
    border-radius: 10px;  
}
.group-40013 h4 {
    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #1D1D1D;
}
.companies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.rectangcle-2 {
    position: absolute;
    width: 1440px;
    height: 756px;
    left: 0px;
    top: 1000px;

    border-bottom:4px solid #1D1D1D;  
    background: #FFCB47
}
.frame-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    justify-content: center;
    
    position: absolute;
    width: 590px;
    height: 30px;
    left: 425px;
    top: 100px;
}
#frame-10-img-mb {
    display: none ;
}
.frame-10 h3 {

    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #1D1D1D;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame-10 p {
    width: 590px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color:#1D1D1D

    order: 1;
    flex-grow: 0;
}
.rectangcle-2 img {
    position: absolute;
    width: 786px;
    height: 442.12px;
    left: 312px;
    top: 200px;

    box-sizing: border-box;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(ss_2063524544.jpg);
    border: 4px solid #000000;
    box-shadow: 10px 10px 0px #000000;
    border-radius: 10px;
}
.frame-13 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 786px;
    height: 56px;
    left: 315px;
    top: 666px;
}
.frame-13-2 {
    display: none;
}
.frame-13 li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 40px;
    gap: 10px;
    
    width: 110px;
    height: 46px;
    
    background: #FFFFFF;
    box-shadow: inset -4px 4px 0px #1D1D1D, inset 4px 0px 0px #1D1D1D, inset 0px 4px 0px #1D1D1D;
    border-radius: 8px 8px 0px 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.frame-13 li a {
    text-decoration: none;
    width: 137px;
    height: 24px;

    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #1D1D1D;
}
.design-space {
    background-image: url(../image/design-space-paper-textured-background.png);
    position: absolute;
    width: 1440px;
    height: 2400px;
    top: 1780px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.Delivery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.frame-16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    flex:1;
}
.frame-17 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    gap: 10px;
    
    width: 478px;
    height: 113px;
    flex: 1;
}
.frame-17 h3 {
    width: 478px;
    height:min-content;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1D1D1D;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.frame-17 p {
    width: 478px;
    height: 72px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.frame-16 button {
    box-sizing: border-box;
    padding: 16px 30px;
    gap: 8px;
    width: 182px;
    height: 56px;
    background: #F62369;

    border: 3px solid #1D1D1D;
    border-radius: 8px;

    flex: 1;
    order: 0;
    flex-grow: 0;
}
.frame-16 button a {
    width: 90px;
    height: 30px;

    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.img2 {
    flex: 1;
}
.img2 img {
    width: 526px;
height: 541px;
}
.frame-66 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-top: 4px solid #1D1D1D;
    
    position: absolute;
    width: 1440px;
    height: 544px;
    left: 0px;
    top: 4160px;
    
    background: #F62369;
}
.trusted {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    color: white;
    flex:none;
}   
.trusted h3 {
    width: 575px;
    height: 104px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.trusted p {
    width: 575px;
    height: 52px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.trusted-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;

    width: 477px;
    height: 200px;
    
    background: #FFFFFF;
    border-radius: 10px;

    flex:none;
}
.trusted-2 p {
    width: 417px;
    height: 96px;

    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#craig {
    width: 417px;
    height: 24px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.clone-trusted {
    width: 417px;
    height: 96px;
}

.table-3 {
    display: flex;
    width: 1440px;
    height: 350px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;

    position: absolute;
    top: 4550px;
}
.growing {
    position: absolute;
    width: 1440px;
    height: 410px;
    left: 0px;
    top: 4708px;
    background: rgba(246, 35, 105, 0.05);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}
.clone_growing {
    flex: 6;
    height: 30px;
}
.growing h2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex:1;
}
.businesses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex:1;
}
#fixlogo {
    width: 150px;
    height: 150px;
}
.businesses-partner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    width: 1440px;
    height: 830px;

    position: absolute;
    top: 5120px;
}
.businesses-partne-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 730px;
}
.businesses-partne-text h3 {
    width: 258px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.businesses-partne-text p {
    width: 730px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    text-align: center;
    color:#1D1D1D

    flex: none;
    order: 1;
    flex-grow: 0;
}

.businesses-partne-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.businesses-nav-1 {
display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;

width: 1440px;
height: 454px;
}
#fruit {
    width: 286px;
    height: 363px;
}
#buniser {
    width: 354px;
    height: 454px;
}
#white_flower {
    width: 286px;
    height: 363px;
}
.businesses-nav-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 1200px;
    height: 52px;
}
.statistics {

    position: absolute;
    width: 1440px;
    height: 618px;
    left: 0px;
    top: 6020px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    

    background-image: url(../image/bg_statis.png);
    background-color: #e5f00d;
}
.statistics h3 {
    text-align: center;
    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    
    color: #1D1D1D;   
}
.statistics img {
    width: 373px;
    height: 497px;
}
.eight-t {
    display: flex;
}
.eight-t h2 {
    width: 277px;
    height: 91px;

    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 91px;
}
.people-share {
    position: absolute;
    width: 1440px;
    left: 0px;
    top: 6638px;
    gap: 40px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.people-share-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.people-share-text h3 {
    width: 523px;

    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #1D1D1D;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.people-share-text p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #1D1D1D;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.people-share-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.arrow_button {width: 32px;
    height: 32px;
    }
#play_button {
    width: 100px;
    height: 100px;
}
.people-share-img-big-pic {
    background-image: url(../image/people-share-img.png);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 786px;
    height: 441px;
}
.mike {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 30px;
    gap: 30px;
    background-color: white;
    border: 4px solid #1D1D1D;
    box-shadow: 10px 10px 0px #000000;
    border-radius: 10px;
    width: 580px;
}
#mike-p {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#1D1D1D
    

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#mike-writer {
    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color:#1D1D1D

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.pricing {
    position: absolute;
    top: 7608px;
    width: 1440px;
    
    display: flex;
    flex-flow: column nowrap;
    background-image: url(../image/bg_pricing.png);
}
.pricing-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 40px;
}
.pricing-head h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #1D1D1D;
    margin-bottom: 0%;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.pricing-head p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color:#1D1D1D;
    margin-top: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.pack-services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height:max-content;
}
.pack-1, .pack-2, .pack-3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 373px;
    padding: 40px 30px;
    

    box-sizing: border-box;
    border: 4px solid #000000;
    border-radius: 10px;
}
.pack-head {
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    align-items: flex-start;

}
.pack-head h2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color:#1D1D1D

    flex: none;
    order: 0;
    flex-grow: 0;
}
.pack-head h4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1D1D1D;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.pack-head p {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #8E8E8E;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    width: 233px;

    flex: none;
    order: 2;
    flex-grow: 0;
}
.services ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    line-height: 25px;
    width: 233px;

    flex: none;
    order: 2;
    flex-grow: 0;
}
.services ul {
text-align: left;
list-style: none;
padding-left: 0;
}
.services ul li:before {
    content: '';
    display: block;
    width: 9px;
    height: 14px;
    top: 4px;
    left: -22px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 3px solid #4ba0d8;
    border-bottom: 3px solid #4ba0d8;
    position: absolute;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}
.button-pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: white;
    
    width: 313px;
    height: 56px;
}
.button-pricing a {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: none;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.questions {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1200px;
    height: 380px;
    top: 8550px;

    background: #FFCB47;
    border-radius: 20px;
}
.questions h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
}
.questions button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 8px;
    width: 192px;
    height: 56px;
    background: #1D1D1D;
    
    border: 3px solid #1D1D1D;
    border-radius: 8px;    
    
}
.questions button a {
    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;

}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
   
   position: absolute;
    top: 9000px;
}
.col-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items:stretch;
}
.col-1 img {
    height: 60px;
    width: 60px;
}
.col-1 p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8E8E8E;
}
.sociel {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.sociel ul {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
}
.sociel ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-right: 26px;
}
.sociel ul li a {
    width: 32px;
    height: 32px;
}
.col-2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.col-2 h5 {
    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #1D1D1D;
}
.col-2 ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0;
}
.col-2 ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.col-2 ul li a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#1D1D1D;
    text-decoration: none;
    
}
.form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}
.form form button {
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    padding: 16px 30px;
    gap: 8px;
    background: #F62369;
    
    border: 3px solid #1D1D1D;
    border-radius: 8px;
}
.form form button a {
    font-family:Arial, Helvetica, sans-serif;
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
label {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #1D1D1D;
    height: 26px;;
}
input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    width: 373px;
    height: 52px;
    border: 2px solid #D8D6DE;
    border-radius: 8px;
}
.frame-60 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 1440px;
    height: 36px;
    left: 2px;
    top: 9300px;
    background-color: #000000;
}
.frame-60 p {
    
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    
    
    color: #FFFFFF;
}

@media only screen and (max-width: 767px) and (min-width:640px) {
body {
    display: flex;
    flex-flow: column wrap;
    justify-content:space-between;
    width: 100%;
    max-width: 750px;
    align-items: center;
}
header {
    display: flex;
    width: 100%;
}
.nav-logo {
    display: none;
    position: static;
}
.div-logo-mb {
    display: flex;
    flex-flow: row nowrap;
    padding: 16px;
    gap: 473px;

    width: 100%;
}
.a-logo-mb {
    float: left;
    position: static;
}
.a-vector {
    float: right;
    position: static;
}
.a-vector img {
    width: 28px;
    height: 28px;
}
#logo-mb {
    width: 48px;
    height: 48px;
}
main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 750px ;
}
.frame-6 {
width: 100%;
display: flex;
flex-flow: column wrap;
max-width: 750px;
position: static;
justify-content: center;
align-items: center;
}
.frame-8 {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.frame-8 h1 {
    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    color: #1D1D1D;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    align-self: stretch;
}
.frame-8 p {
    margin: 0%;
    display: flex;
    text-align: center;
}
.group-9 img {
    position: static;
}
.group-40013 {
    position: static;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.companies {
    position: static;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rectangcle-2 {
    display: flex;
    flex-flow: column nowrap;
    margin: 50px 0;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 750px;

    position: static;
}
.frame-10 {
    position: static;
    justify-content: space-between;
    width: 100%;
}
.frame-10 h3 {
    margin: 0%;
}
#frame-10-img {
    display: none;
}
#frame-10-img-mb {
    display: flex;
    position: static;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(ss_2063524544.jpg);
    border: 4px solid #000000;
    box-shadow: 10px 10px 0px #000000;
    border-radius: 10px;

    width: 500px;
    height: 290px;
    box-sizing: border-box;
}
.frame-13 {
    display: none;
}
.frame-13-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;


    width: 238px;
    height: 48px;
}
.frame-13-2 li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 30px;
    gap: 10px;
    
    width: 116px;
    height: 46px;
    
    background: #FFFFFF;
    box-shadow: inset -4px 4px 0px #1D1D1D, inset 4px 0px 0px #1D1D1D, inset 0px 4px 0px #1D1D1D;
    border-radius: 8px 8px 0px 0px
}
.frame-13-2 li a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #1D1D1D;
    text-decoration: none;
}
.design-space {
    position: static;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.frame-16 {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frame-17 h3, p {
    text-align: center;
}
.img2 {
    order: 1;
    text-align: center;
}