@font-face {
  font-family: 'Agrandir';
  src: url(../fonts/Agrandir-Bold-WideBold/Agrandir-Bold.otf),
  url(../fonts/Agrandir-Bold-WideBold/Agrandir-WideBold.otf);
}
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DM_Sans/DMSans-Bold.ttf),
  url(../fonts/DM_Sans/DMSans-BoldItalic.ttf),
  url(../fonts/DM_Sans/DMSans-Italic.ttf)
  url(../fonts/DM_Sans/DMSans-Medium.ttf)
  url(../fonts/DM_Sans/DMSans-MediumItalic.ttf),
  url(../fonts/DM_Sans/DMSans-Regular.ttf);
}
body {
    width: 95%;
    max-width: 767px;
    margin: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  /* Nav logo */
.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}
.nav-logo button {
  display: none;
}
.nav-logo-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#logo-img-1 {
  width: 48px;
  height: 48px;
}
.nav-logo-1 ul {
  display: none;
  flex-flow: row nowrap;
}
.nav-logo-1 ul li {
  display: flex;
  text-align: none;
}
.dropmenu {
  display: flex;
  flex-direction: column;
}
.dropmenu:hover .menu {
  display: flex;
 
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  position:absolute;
  left: 1%;
  top: 0.7%;
  gap:20px;
  padding-bottom: 10%;  
  background: white;
  border: 5px solid black;
  width: 97%;
  border-radius: 5px;

  overflow: scroll;
  height: 150px;
}
.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu-button button {
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  
  width: 328px;
  height: 42px;
  
  background: #F62369;
  /* Text/Heading & Display */
  
  border: 3px solid #1D1D1D;
  border-radius: 6px;
}
.menu-button button a {
  color: white;
  font-size: 16px;
}
.menu a {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  
  
  color: #000000;
}
.menu-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-1-head {
  margin-left: 5%;
}
.menu-1-second {
  margin-left: 10%;
}
.menu-1 ul {
  margin-left: 12%;
}
.menu-1 ul li {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}
.menu-1 ul li a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  
  
  color: #000000;
}
.menu {
  display: none;

}
.group-9 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.group-9-1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}
/* Have your delivery planned out & >customers happy */
.group-9-1 h1 {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  color: #1D1D1D;
}
/* Create a shipping plan and control when and where the delivery
happens with the most powerful tool on Shopify */
.group-9-1 p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #1D1D1D;
}
.group-9-1 button {
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  
  width: fit-content;
  height: fit-content;
  
  background: #F62369;
  
  border: none;
  border-radius: 6px;
  border: 3px solid #1D1D1D;
}
.group-9-1 button:hover {
  background: orange;
}
.group-9-1 button a {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: white;
}
.group-9 img {
  width: 243px;
  height: 248px;
}
br {display: none;}
.companies {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 4px solid #000000;
  box-shadow: 8px 8px 0px #000000;
  border-radius: 10px;
  margin:0 0 10% 0;
}
/* Trusted by these companies so far */
.companies h4 {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #1D1D1D;
}
.logo-companies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* rectangle-2 */
.rectangle-2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: #FFCB47;
}
.features {
  display: flex;
  flex-flow: column nowrap;
}
.features h3 {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 30% 0 0 0;

  color: #1D1D1D;
}
.features p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 5% 0 20% 0;
  
  text-align: center;
  
  color: #1D1D1D;
}
.rectangle-2 img {
  box-sizing: border-box;
  width: 320px;
  height: 181px;
  margin: 0 0 20% 0;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  box-shadow: 10px 10px 0px #000000;
  border-radius: 10px;
}
.features-ul-sm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0px;
  gap: 5%;

  height: 48px;
  position: relative;
  bottom: 0;
  top: 100%;
  margin: 0;

}
.features-ul-sm li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 30px;
  gap: 10px;
  justify-content: space-around;
  
  width: fit-content;
  height: 46px;
  
  background: #FFFFFF;
  border-radius: 8px 8px 0px 0px;
}
.features-ul-sm li a, .features-ul-sm li select  {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #1D1D1D;
  text-decoration: none;
}
.features-ul-sm li select {
  border: none;
  background: none;
  font-size: 14px;
  width: 100%;
}

.features-ul-sm li select option {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  
  color: #1D1D1D;  
}
.features-ul-md {
  display: none;
}
.design-space {
  background-image: url(../image/design-space-paper-textured-background.png);
  display: flex;
  flex-flow: column nowrap;
}
.design-info-1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10% 0 0 0;
}
.design-info-text {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  order: 2;
  flex:1;
}
.design-info-text h4 {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  
  text-align: center;
  color: #1D1D1D;
}
.design-info-text p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
  text-align: center;
  
  color: #1D1D1D;
}
.design-info-text button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  gap: 8px;
  
  width: fit-content;
  height: 42px;
  
  background: #F62369;
  /* Text/Heading & Display */
  
  border: none;
  border-radius: 6px;
  border: 3px solid #1D1D1D;
}
.design-info-text button:hover {
  background: orange;
}
.design-info-text button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  gap: 8px;
}
.right_arrow {
width: 5px;
height: 5px;
border: solid white;
border-width: 0 2px 2px 0;
margin-bottom: 3%;

transform: rotate(-45deg);

} 
.design-info-img {
  width: 280px;
  height: 288px;
  order: 1;
  flex:1;
}
.design-info-2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10% 0 0 0;
}
.design-info-3 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10% 0 0 0;
}
.design-info-4 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10% 0 10% 0;}
.trusted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #F62369;
}
.trusted-line1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.trusted-1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.trusted-1 h3 {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  
  color: #FFFFFF;
}
.trusted-1 p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  
  text-align: center;
}
.trusted-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 3%;
}
.trusted-2 p {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  
  color: #1D1D1D;
  
}
.trusted-2 h5 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  
  text-align: center;

  color: #1D1D1D;
  
}
.trusted-3 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 3%;
}
.trusted-3-1 {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  margin: 3%;

  background: #FFFFFF;
  border: 4px solid #000000;
  border-radius: 10px;
  height: 340px;
}
.trusted-3-1:hover {
  border: 6px solid #000000;
  box-shadow: 10px 10px 0px #000000;
  transition: 0.5s;
  
}
.trusted-3-1 img {
  width: 60px;
  height: 60px;
}
.trusted-3-1 h4 {
  width: 288px;
  height: 62px;
  
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin: 5%;
  
  color: #1D1D1D;
}
.trusted-3-1 p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
  text-align: center;

  color: #1D1D1D;
}
.growing {
  display: flex;
  background: rgba(246, 35, 105, 0.05);
  flex-flow: column nowrap;
  align-items: center;
}
.growing-text h4 {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  /* identical to box height */
  
  
  /* Text/Heading & Display */
  
  color: #1D1D1D;
}
.growing-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
.growing-logo a img {
  width: 138px;
  height: 150px;
}
.businesses-8000 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.businesses-8000-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.businesses-8000-text h4 {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  margin: 2%;
  
  text-align: center;
  
  color: #1D1D1D;
  
}
.businesses-8000-text p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  
  color: #1D1D1D;
}
.businesses-8000-img {
  display: block;
}
.businesses-8000-img-md {
  display: none;
}
#businesser {
  width: 160px;
  height: 200px;
}
#fruit {
  width: 160px;
  height: 200px;
  position: relative;
  top: 74px;
  right: 47px;
}
.businesses-8000-catalog {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 28%;
  gap: 4%;
}
.businesses-8000-catalog-1 {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}
.businesses-8000-catalog-1 button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  
  width: fit-content;
  height: fit-content;
  
  background: #FFECD0;
  border-radius: 10px; 
  border: none; 
}
.businesses-8000-catalog-1 button:hover {
  border: 1px solid #000000;
  box-shadow: 2px 4px 0px #000000;
  transition: 0.5s;
}
  
.businesses-8000-catalog-1 button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  
  
  color: #000000;
  
}
.statis {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(../image/bg_statis.png);
  background-color: darkorange;
  margin: 5% 0;
}
.statis h3 {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  text-align: center;
  flex:1;
  padding: 10% 0;
  
  color: #1D1D1D;
}
#statis-sm {
  width: 317px;
  height: 180px;
  flex:1;
}
#statis-md {
  display: none;
}
.people {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.people-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.people-text h3 {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  
  /* Text/Body text */
  
  color: #1D1D1D;
}
.people-text p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
.play-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 4%;
}
.play-button-md {
  display: none;
}
.video-player {
  display: block;
}
.video-player video {
  z-index: 1;
}
.video-player button {
  position: absolute;
  top: 67.5%;
  left: 41%;
  background: none;
  border: none;
}
.video-player button img {
  width: 60px;
  height: 60px;
}
.people-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 20px;
  gap: 20px;
  background: #FFFFFF;
  width: 80%;
  margin: 7%;
  /* Text/Body text */
  
  border: 4px solid #1D1D1D;
  box-shadow: 10px 10px 0px #000000;
  border-radius: 10px;  
  height: 10%;
}
#play-button-businesser {
  width: 100%;
}
.people-table p {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  
  /* Text/Body text */
  
  color: #1D1D1D;
  
}
.people-table h4 {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  
  /* Text/Body text */
  
  color: #1D1D1D;
}
.pricing {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../image/bg_pricing.png);
}
.pricing-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.pricing-text h3 {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  
  /* Text/Heading & Display */
  
  color: #1D1D1D;
}
.pricing-text p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  
  text-align: center;
  
  /* Text/Heading & Display */
  
  color: #1D1D1D;
}
.pricing-table {
  display: flex;
  flex-flow: column nowrap;
  gap: 10%;
}
.price {
  box-sizing: border-box;
  margin: 5% 0;

  /* Auto layout */
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  
  border: 4px solid #000000;
  border-radius: 10px;
}
.price:hover {
  background-color: #F62369;;
  color: white;
  transition: 0.7s;
}
.price h3 {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  /* identical to box height */
  
  
  /* Text/Body text */
  
  color: #1D1D1D;
}
.price:hover h3 {
  color: white;transition: 0.7s;
}
.price h4 {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0%;
  /* identical to box height, or 157% */
  
  
  /* Text/Body text */
  
  color: #1D1D1D;
}
.price:hover h4 {
  color: white;transition: 0.7s;
}
.price p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 2% 0 7%;
  /* identical to box height */
  
  
  /* Text/Subtitle */
  
  color: #8E8E8E;
  
}
.price:hover p {
  color: white;transition: 0.7s;
}
.price button {
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  
  width: 269px;
  height: 42px;
  
  background: #FFFFFF;
  /* Text/Heading & Display */
  
  border: 3px solid #1D1D1D;
  border-radius: 6px;
}
.price:hover button {
  background: #1D1D1D;
  color: white;
transition: 0.5s;

}
.price button a {
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  /* identical to box height, or 157% */
  
  
  color: #000000;
}
.price:hover button a {
  color: white;
  transition: 0.5s;
}
.price ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 8%;
  margin-top: auto;
}
.more {
  display: flex;
  flex-flow: column nowrap;
  background: #FFCB47;
  border-radius: 20px;
  align-items: center;
  width: 100%;
}
.more h3 {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  text-align: center;
  margin: 17% 0 6% 0;
  
  /* Text/Heading & Display */
  
  color: #1D1D1D;
}
.more button {
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 8px;
  margin: 0 0 17% 0;
  
  width: fit-content;
  height: 56px;
  
  background: white;
  color: #1D1D1D;
  /* Text/Heading & Display */
  
  border: 3px solid #1D1D1D;
  border-radius: 8px;  
}
.more button:hover {
  background-color: #1D1D1D; 
  transition: 0.5s;
}
.more button a {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  /* identical to box height, or 150% */
  
  
  color: #1D1D1D;
}
.more button:hover a {
  color: white;
  transition: 0.5s;
}
.footer-1 {
  display: flex;
  flex-flow: column nowrap;
  margin: 10% 0;
}
.footer-logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer-logo img {
  width: 80px;
  height: 80px;  
}
.footer-logo p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  text-align: center;
  
  /* Text/Subtitle */
  
  color: #8E8E8E;
}
.footer-logo ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
.footer-logo ul li {
  display: flex;

}
.footer-logo ul li img {
  width: 42px;
  height: 42px
}
.footer-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5% 0;
  gap: 2%;
}
.footer-text h4 {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  
  /* Text/Heading & Display */
  
  color: #1D1D1D;
}
.footer-text a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  margin: 1%;
  /* identical to box height, or 157% */
  
  
  /* Text/Body text */
  
  color: #1D1D1D;
}
.footer-input {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap:20px;
}
#label {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  
  /* Text/Heading & Display */
  
  color: #1D1D1D;
}
#enter-email {
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 16px;
  gap: 10px;
  background: #FFFFFF;
  /* Input/Border */
  
  border: 2px solid #D8D6DE;
  border-radius: 8px;  
  width: 80%;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  
  /* Text/Muted & Placeholder */
  
  color: black;
  
}
#subscribe-button {
  box-sizing: border-box;
  border: 3px solid #1D1D1D;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  
  width: 80px;
  height: 42px;
  
  background: #F62369;
  /* Text/Heading & Display */
  
  border-radius: 6px;

  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  
  
  color: #FFFFFF;
}
#subscribe-button:hover {
  background-color: orange;
}
#copyright {
  margin: 20% 0 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 33px;
  background: #000000;
  font-family:'Agrandir';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}


